

@media screen and (min-width: 1920px) {
    .block_1 {

        display: grid;
        grid-template-areas:
                'a1 a2'
                'a1 a3'
    }
    .a1 {
        grid-area: a1;
    }
    .a1 img{
        width: 670px;
        height: 880px;
        margin-left: 100px;
    }
    .a2  {
        grid-area: a2;
        width: 100%;
        margin: 0;
        padding-top: 0;
    }
    .a2 h1 {
        font-family: roboto-webfont;
        font-size: 60px;
    }
    .a2 h3 {
        font-family: roboto-webfont;
        color: #1f252d;
        font-size: 25px;
        padding-top: 5px;
    }

    .a2 blockquote {
        margin: 0;
    }

    .a3 {
        width: 900px;
        grid-area: a3;
        color: white;
        background-color: #3e5768;
        font-family: "Harlow Solid Italic";
        padding-top: 40px;
        margin-right: 50px;
    }
    .a3 h1 {
        margin-left: 10px;
        font-size: 25px;
        font-family: roboto-webfont;
    }
     .a3 blockquote {
         font-size: 25px;
         font-family: roboto-webfont;
     }
    .mission ol{
        margin-left: 50px;
        font-size: 25px;
        margin-left: 10px;
        font-family: roboto-webfont;
    }

}

